body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
  padding: 15px;
  padding-top: 10px;
  background-color: lightgrey;
  border-radius: 5px;
}

h2 {
  margin: 0;
  font-weight: normal;
}

#messages {
  border: 1px solid black;
  padding: 10px;
  background-color:white;
  height: 10vh;
  margin-top: 0.5em;
  box-shadow: 3px 3px 3px #888;
  border-radius: 4px;
  overflow: auto;
}

#messages li {
  list-style-type: none;
}

form, #bottom-bar {
  display: flex;
}

form {
  flex: 1;
}

#nickname {
  min-width: 100px;
  /* height: 20px; */
  background-color: white;
  margin-right: 10px;
} 

#newMessage {
  flex: 1;
  margin-right: 10px;
}