body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
  padding: 15px;
  padding-top: 10px;
  background-color: lightgrey;
  border-radius: 5px;
}

#chat-header, #users-list-header {
  margin: 0;
  color: white;
  text-shadow: 3px 3px 3px #999;
}

#chat-header {
  grid-area: chat-header;
  font-weight: normal;
}

#users-list-header {
  grid-area: users-list-header;
  align-self: end;
}

#messages-and-users-list-container {
  display:grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "chat-header users-list-header"
    "messages users-list";
  grid-row-gap: 0.5em;
  margin-bottom: 1em;
}

#messages-container, #users {
  border: 1px solid black;
  padding: 0.4em 0.5em;
  background-color:white;
  min-height: 10vh;
  max-height: 85vh;
  box-shadow: 3px 3px 3px #999;
  border-radius: 4px;
}

#messages-container {
  grid-area: messages;
  overflow: auto;
}

#users {
  grid-area: users-list;
  width: 100px;
  overflow: auto;
}

#users-list-header, #users {
  margin-left: 10px;
}

#messages {
  padding: 0;
  margin: 0;
}

#messages li {
  list-style-type: none;
}

form, #bottom-bar {
  display: flex;
}

form {
  flex: 1;
}

#nickname {
  min-width: 50px;
  background-color: white;
  margin-right: 10px;
  padding: 0.1em 0.3em;
  font-weight: bold;
  color: #888;
  overflow: auto;
} 

#input-message {
  flex: 1;
  margin-right: 10px;
  padding: 0.1em 0.3em;
}

#info {
  margin-bottom: 0;
}

#context-menu {
  position: absolute;
  background-color: #eee;
  padding: 0.5em;
  cursor: pointer;
}

.hidden {
  display: none;
}

#is-typing, #users-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#is-typing {
  font-style: italic;
  color: #888;
}